.titleSlider{
    color: #133072;
    font-size: 45px !important;
    font-weight: 600 !important;
}
.titleSlider span {
    background: #133072;
    color: #ffffff;
    padding: 0 5px;
}
.imgLogoSlider{
    background: #FFFFFF;
    padding: 40px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.subtitleSlider {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600 !important;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
/*************************************/
.titleOurMision{
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #133072;
    margin-bottom: 5;
}
.subtitleMision {
    font-weight: 700 !important;
    font-size: 35px !important;
    line-height: 100% !important;
    letter-spacing: 0;
    color: #133072;
    margin: 15px 0;
}
/**************************************/
.titleRegistroLegal{
    font-weight: 600 !important;
    font-size: 45px !important;
    color: #133072;
    margin-bottom: 15px!important;
}
.btnConsulta {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 105% !important;
    letter-spacing: 0 !important;
    color: #133072 !important;
    text-transform: none !important;
    text-align: left;
    padding-left: 0;
}
.btnRegistro{
    margin-left: 10px;
    background: #133072;
}
/*************************************/

.GridSideBarLeft{
    width: calc(100% - 400px);
}
.GridSideBarRight{
    width: 400px;
}
/********************************/
@media (max-width: 1800px){
    .css-1lglv1i-MuiTypography-root{
        min-height: 200px !important;
    }
}

@media (max-width: 1500px){
    .css-1lglv1i-MuiTypography-root{
        min-height: 230px !important;
    }
}

@media (max-width: 1420px){
    .css-1lglv1i-MuiTypography-root{
        min-height: 350px !important;
    }
}
@media (max-width: 1260px){
    .css-1lglv1i-MuiTypography-root{
        min-height: 430px !important;
    }
    .css-1k904za {
        margin-left: 50px !important;
    }
    .css-12y0xd0 {
        margin-right: 50px !important;
    }
    .css-5qi45n-MuiGrid-root{
        padding: 30px 50px !important;
    }
    .css-1n74u3p{
        padding: 30px 50px !important;
    }
    .css-hrqyxs{
        padding: 30px 50px !important;
    }
}

@media (max-width: 1200px){
    .css-6sn44r-MuiGrid-root {
        width: calc(100% - 300px) !important;
    }
    .css-orxq4d-MuiGrid-root {
        width: 300px !important;
    }
    .css-xmrpdm {
        width: 450px !important;
    }
    .css-ixddls-MuiTypography-root {
        font-size: 30px !important;
    }
    .imgLogoSlider img {
        max-width: 300px !important;
        margin: 0 auto !important;
    }
}
/********************************************************/
@media (max-width: 991px){
    .GridSideBarLeft{
        width: 100% !important;
    }
    .GridSideBarRight {
       display: none !important;
    }
    .css-1lglv1i-MuiTypography-root{
        min-height: 300px !important;
    }
    .css-1k904za{
        margin-left: 0 !important;
    }
    .css-12y0xd0 {
        margin-right: 0 !important;
    }
    .css-xmrpdm {
        width: 98% !important;
        top: 10px !important;
        left: 1% !important;
        transform: none !important;
    }
    .imgLogoSlider img {
        max-width: 200px !important;
        margin: 0 auto !important;
    }
    .css-65opae {
        max-width: 100% !important;
        border-top-right-radius: 0 !important;
    }
    .css-1n74u3p{
        padding: 30px 15px !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 15px !important;
    }
    .css-hrqyxs{
        padding: 30px 15px !important;
    }
    .titleSlider{
        font-size: 25px !important;
    }
    .titleOurMision{
        font-size: 25px !important;
        line-height: 1.5 !important;
        margin-bottom: 10px !important;
    }
    .subtitleMision {
        font-size: 30px !important;
        margin-bottom: 15px !important;
    }
    .titleRegistroLegal {
        font-size: 25px !important;
    }
    .btnConsulta {
        text-align: center !important;
        width: 100% !important;
        margin-bottom: 15px !important;
    }
    .btnRegistro{
        text-align: center !important;
        width: 100% !important;
        margin: 0 !important;
    }
    .subtitleSlider {
        font-size: 25px !important;
    }
}
@media (max-width: 900px){
    .css-1lglv1i-MuiTypography-root{
        min-height: 100% !important;
    }
    .css-1rmre48{
        display: none !important;
    }
    .css-1fy0qzd {
        display: block !important;
    }
    .css-2n9j5h {
        padding: 30px 0 !important;
        padding-bottom: 0 !important;
    }
    .css-1hyfx7x {
        display: block !important;
        width: 100%!important;
        height: 350px!important;
    }
    .css-5ts9n9-MuiTypography-root{
        font-size: 18px !important;
    }
    .css-ixddls-MuiTypography-root {
        font-size: 25px !important;
    }
    .css-1ntkjxx-MuiTypography-root{
        font-size: 30px !important;
    }
    .css-1qlt792-MuiButtonBase-root-MuiButton-root {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .css-146a7k-MuiButtonBase-root-MuiButton-root{
        width: 100% !important;
        max-width: 250px !important;
        margin: 0 auto !important;
        display: block !important;
        padding: 20px !important;
    }
    .css-8y4std-MuiTypography-root{
        display: none !important;
    }
    .btnGroup button{
        width: 100% !important;
        max-width: 350px !important;
        margin: 0 auto !important;
        display: block !important;
        padding: 30px 15px !important;
        margin-bottom: 15px !important;
    }
    .css-1ajqz91-MuiTypography-root{
        width: 100% !important;
        max-width: 350px !important;
        margin: 0 auto !important;
        text-align: left !important;
        margin-bottom: 15px !important;
    }
}